/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;

}

ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */

/* Header */

header {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 2;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}

header .container::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #2e2e2e;
  bottom: -1px;
  width: calc(100% - 30px);
  left: 15px;
}


header .logo img {
  height: 60px;
}


header nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header nav ul {
  display: flex;
}

header nav ul a {
  display: block;
  text-decoration: none;
  color: white;
  transition: 0.3s;
  font-size: 15px;
  padding: 40px 10px;
}


header nav ul a:hover {
  border-bottom: 1px solid #19c8fa;
  color: #19c8fa;
}

.search {
  position: relative;
  margin-left: 10px;
}

.search i {
  color: white;
  border-left: 1px solid white;
  padding-left: 10px;
}

header nav .active {
  color: #19c8fa;
}


/* responsive ul */

.fa-bars {
  color: white;
  font-size: 22px;
}

@media (min-width: 768px) {
  .fa-bars {
    display: none;
  }
}

@media (max-width: 767px) {
  header nav ul {
    display: none;
  }

  header nav .fa-bars:hover+ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #2e2e2e;
  }

  header nav .fa-bars:hover+ul a {
    padding: 15px;
  }

  header nav li:not(:last-child) {
    border-bottom: 1px solid #19c8fa;
  }

  header nav li {
    transition: 0.3s;
    padding-left: 10px;
  }
}

/* end responsive ul */
/* end header */


/* landing  */
.landing {
  min-height: 100vh;
  background-color: #1f2021;
  background-image: url("../images/david-becker-dMeEJRE18VI-unsplash.jpg");
  background-size: cover;
  position: relative;
}

.landing .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  padding: 50px;
  background-color: rgb(15 116 143 / 70%);
  color: white;
  display: flex;
  justify-content: flex-end;
}

.landing .text h2,
.landing .text p {
  line-height: 2;
  font-weight: 500;
  margin-bottom: 10px;
}

.landing .text .content {
  max-width: 500px;
}


.fa-chevron-left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  color: white;
  margin-left: 15px;
}


.fa-chevron-right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 25px;
  margin-right: 15px;
}


.circles {
  display: flex;
  position: absolute;
  transform: translateX(-50%);
  bottom: 30px;
  left: 50%;
}

.circles li {
  border: 1px solid white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-left: 15px;
}

.circles li:hover {
  background-color: #19c8fa;
  border-color: #19c8fa;
}


.circles .active {
  background-color: #19c8fa;
  border-color: #19c8fa;
}

@media (max-width: 767px) {
  .landing .text {
    width: 100%;
  }

  .landing .text .content {
    width: 100%;
  }
}

/* end landing */

/* start section 1 */

section .main-heading h2 {
  padding-top: 100px;
  text-align: center;
  margin-top: 115px;
  margin-bottom: 80px;
  font-weight: 300;
  font-size: 45px;
  position: relative;
}

section .main-heading h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: #2e2e2e;
  bottom: -30px;
  width: 120px;
}

section .main-heading h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid #2e2e2e;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  bottom: -39px;
  background-color: white;
}


section .main-heading h2:hover::after {
  background-color: #19c8fa;
}

section .main-heading p {
  text-align: center;
  font-weight: 400;
  line-height: 2;
  color: darkgray;
  max-width: 100%;
}

/* continue services */

.services .container {
  margin-top: 50px;
}

section {
  padding-bottom: 100px;
}

.services .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

@media (max-width: 768px) {

  .services .container {
    display: block;
  }

  section .sec-content {
    display: flex;
    justify-content: space-evenly;
  }
}

section .sec-content i {
  margin-right: 50px;
  margin-bottom: 10px;
  font-size: 30px;
}

section .sec-content h3 {
  color: #19c8fa;
}

section .sec-content .text {
  margin-bottom: 50px;
}

section .sec-content p {
  line-height: 2;
  color: gray;
}

.services .sec-background {
  background-image: url("../images/marvin-meyer-SYTO3xs06fU-unsplash.jpg");
  background-color: #2e2e2e;
  height: 500px;
  background-size: cover;
  margin-top: 100px;
  margin-bottom: -150px;
}

.sec-background .text {
  position: absolute;
  right: 0;
  transform: translateY(-50%);
  width: 50%;
  padding: 50px;
  background-color: rgb(15 116 143 / 80%);
  color: white;
  margin-top: 250px;
}

.sec-background .text h2 {
  text-align: center;
  margin-bottom: 50px;
  transition: 0.3s;
}

.sec-background .text h2:hover {
  margin-left: 20px;
  border: 1px solid #ef9a9a;
  padding: 20px;
  border-radius: 50px;
  transform: prespective(1000px);
  color: #ef9a9a;
}

.sec-background .text p {
  margin-bottom: 30px;
  font-size: 15px;
  transition: 0.3s;
}

.sec-background .text p:hover {
  margin-left: 20px;
  color: #ef9a9a;
}

.sec-background .text i {
  margin-right: 10px;
}

@media (max-width: 767px) {
  .sec-background .text {
    width: 100%;
  }
}

/* Start Portfolio */

.portfolio .port-bar ul {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.portfolio .port-bar li {
  margin-left: 10px;
  padding: 10px;
}

.portfolio .port-bar li:hover {
  cursor: pointer;
}

.portfolio .port-bar .active {
  background-color: #19c8fa;
  transition: 0.3s;
}

.portfolio .port-bar .active:hover {
  margin-left: 20px;
}

/* imgs section */
.portfolio .imgs-holder {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}

.portfolio .box {
  position: relative;
  overflow: hidden;
}

.portfolio .caption {
  transition: 0.3s;
  width: 100%;
  left: 0;
  position: absolute;
  bottom: -100%;
  padding: 20px;
  background-color: white;
}

.portfolio .caption p {
  color: #19c8fa;
  margin-top: 10px;
}

.portfolio .caption h4 {
  font-weight: 400;
  margin-top: 10px;
}

@media (min-width:768px) {
  .portfolio .imgs-holder .box {
    flex-basis: 50%;
  }
}

@media (min-width:1199px) {
  .portfolio .imgs-holder .box {
    flex-basis: 25%;
  }
}

.portfolio .imgs-holder .box img {
  max-width: 100%;
  transition: 0.3s;
}

.portfolio .box:hover .caption {
  bottom: 0;
}

.portfolio .box:hover img {
  transform: rotate(3deg) scale(1.1);
}


.portfolio .more {
  background-color: #19c8fa;
  color: white;
  padding: 15px 20px;
  display: block;
  width: fit-content;
  margin: 30px auto;
  text-transform: uppercase;
  margin-top: 50px;
  cursor: pointer;
}

/* video section  */

.video {
  position: relative;
}

.video video {
  width: 100%;
}

.video .vid-text {
  width: 100%;
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  background-color: rgb(15 116 143 / 50%);
  padding: 40px;
  color: white;
  text-align: center;
}


.video .vid-text h2,
p {
  font-weight: 500;
  margin-bottom: 10px;
}

.video .vid-text button {
  background-color: black;
  padding: 10px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  color: white;
}

/* end portfolio */

/* Start About */

.About {
  position: relative;
}

.About .img img {
  height: 400px;
  width: 100%;
  background-size: cover;
  margin-top: 100px;
}

.About .img-text {
  width: 90%;
  position: absolute;
  top: 67%;
  margin-left: 5%;
  transform: translateY(-50%);
  background-color: rgb(15 116 143 / 80%);
  padding: 40px;
  color: white;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid black;
}

@media (max-width: 768px) {
  .About .img-text {
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 100%;
    top: 61%;
    margin: 0;
  }

  .About .img img {
    height: 1000px;
    width: 100%;
    background-size: cover;
  }

  .About .box {
    margin-bottom: 50px;
  }

  .About .box:not(:last-child) {
    border-bottom: 1px solid black;
    border-width: 50%;
  }
}

.About .box h4 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 60px;
}

.About .box i {
  color: #1f2021;
  font-size: 25px;
}

.our-skills img {
  height: 150px;
  border-radius: 50%;
}

.our-skills {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}

.our-skills .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media(min-width: 992px) {
  .our-skills .container>div {
    flex-basis: 45%;
  }
}

.testemon {
  text-align: center;
  font-weight: 200;
  line-height: 1.5;
}

.testemon h4 {
  margin-bottom: 30px;
  font-weight: 400;
}

.content .text {
  color: #ef9a9a;
  font-weight: bold;
}

.our-skills .content {
  display: flex;
  margin-top: 50px;
}


@media(max-width :767px) {
  .our-skills .content {
    flex-direction: column;
    text-align: center;
  }

  .skills {
    margin-top: 50px;
  }
}

.content .circles li {
  height: 20px;
  width: 20px;
  border: 2px solid black;
}

.person1,
.person2 {
  line-height: 2;
}


.skills {
  line-height: 1.5;
  text-align: center;
  margin-bottom: 50px;
}

.skills h4 {
  margin-bottom: 10px;
  font-weight: 400;
}

.our-skills .prog-holder {
  margin-bottom: 40px;
}



.our-skills .prog-holder h4 {
  margin-bottom: 15px;
  font-weight: normal;
  text-transform: uppercase;
}


.our-skills .prog-holder .prog {
  background-color: #dedadc;
  height: 30px;
}

.our-skills .prog-holder .prog span {
  display: block;
  background-color: #19c8fa;
  height: 100%;
  position: relative;
}

.our-skills .prog-holder .prog span::before {
  content: attr(data-progress);
  position: absolute;
  background-color: black;
  top: -40px;
  right: -15px;
  color: white;
  padding: 4px 0;
  text-align: center;
  border-radius: 4px;
}

.our-skills .prog-holder .prog span::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 8px;
  border-color: black transparent transparent;
  right: -8px;
  top: -10px;
}

/* end about */

/* start pricing */

.pricing .pri-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 100px;
}

@media (max-width :768px) {
  .pricing .pri-content {
    grid-template-columns: 1fr;
  }

  .pri-content .box button {
    margin-bottom: 50px;
  }
}


.pri-content .box {
  margin-left: 20px;
}

.pri-content .box h5 {
  font-size: 30px;
  border-top: 1px solid #19c8fa;
  text-align: center;
  padding: 10px;
  font-weight: lighter;
}


.box sub,
sup {
  font-size: 20px;
}

.box span {
  font-size: 50px;
}

.pri-content .box p {
  font-size: 20px;
  text-align: center;
  padding: 20px;
}

.pri-content .box p:not(:nth-child(2)) {
  border-bottom: 1px solid #19c8fa;
}

.pri-content .box p:nth-child(3) {
  border-top: 1px solid #19c8fa;
}


.pri-content .box button {
  margin-left: 35%;
  margin-top: 50px;
  padding: 15px;
  border: 1px solid #19c8fa;
  color: #19c8fa;
  cursor: pointer;
}

.cont-pri {
  text-align: center;
  margin-top: 80px;
  font-size: 20px;
}

.cont-pri button {
  padding: 8px;
  color: white;
  background-color: #19c8fa;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

/* end pricing */

/* start contact  */
.contact-us .contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 100px;
}


@media (max-width : 768px) {
  .contact-us .contact {
    display: flex;
    flex-direction: column;
  }
}

.contact-us .contact-data {
  margin-left: 50%;
}


.contact-us form input {
  padding: 20px;
}

.contact-us form input:nth-child(3) {
  height: 200px;
  width: 100%;
}

.contact form {
  display: grid;
  grid-template-columns: 1fr;
}

.contact form input {
  margin-bottom: 50px;
  border: 1px solid black;
}

.contact .form input[type="submit"] {
  width: 100px;
  background-color: #19c8fa;
  border: none;
  cursor: pointer;
}

.contact-data div {
  margin-bottom: 80px;
}


.contact-us .contact-data {
  line-height: 3;
  font-weight: 200;
  font-size: 15px;
}

/* start footer */

footer {
  background-image: url("../images/david-becker-dMeEJRE18VI-unsplash.jpg");
  background-size: cover;
  text-align: center;
  height: 400px;
}

footer img {
  height: 70px;
  margin-bottom: 50px;
}

footer h4 {
  color: white;
  margin-bottom: 20px;
  font-size: 50px;
}

footer .icons i {
   color: white;
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 30px;
}

footer p {
  font-size: 20px;
  color: white;
}

footer .active {
  color: #19c8fa;
}
